<div _ngcontent-daf-c22="" class="email-wrapper wrapper">
    <div _ngcontent-daf-c22="" class="row align-items-stretch">
      <!-- <div _ngcontent-daf-c22="" class="mail-sidebar d-none d-lg-block col-md-2 pt-3 bg-white">
        <div _ngcontent-daf-c22="" class="menu-bar">
          <ul _ngcontent-daf-c22="" class="menu-items">
            <li _ngcontent-daf-c22="" class="compose mb-3"><button _ngcontent-daf-c22="" class="btn btn-primary btn-block">Compose</button></li>
            <li _ngcontent-daf-c22="" class="active"><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-envelope"></i> Inbox</a><span _ngcontent-daf-c22="" class="badge badge-pill badge-success">8</span></li>
            <li _ngcontent-daf-c22=""><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-action-redo"></i> Sent</a></li>
            <li _ngcontent-daf-c22=""><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-doc"></i> Draft</a><span _ngcontent-daf-c22="" class="badge badge-pill badge-warning">4</span></li>
            <li _ngcontent-daf-c22=""><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-cloud-upload"></i> Outbox</a><span _ngcontent-daf-c22="" class="badge badge-pill badge-danger">3</span></li>
            <li _ngcontent-daf-c22=""><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-star"></i> Starred</a></li>
            <li _ngcontent-daf-c22=""><a _ngcontent-daf-c22="" href="javascript:void(0)"><i _ngcontent-daf-c22="" class="icon-trash"></i> Trash</a></li>
          </ul>
          <div _ngcontent-daf-c22="" class="wrapper">
            <div _ngcontent-daf-c22="" class="online-status d-flex justify-content-between align-items-center">
            <p _ngcontent-daf-c22="" class="chat">Chats</p> <span _ngcontent-daf-c22="" class="status offline online"></span></div>
          </div>
          <ul _ngcontent-daf-c22="" class="profile-list">
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face1.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">David</p><p _ngcontent-daf-c22="" class="u-designation">Python Developer</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face2.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Stella Johnson</p><p _ngcontent-daf-c22="" class="u-designation">SEO Expert</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face20.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Catherine</p><p _ngcontent-daf-c22="" class="u-designation">IOS Developer</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face12.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">John Doe</p><p _ngcontent-daf-c22="" class="u-designation">Business Analyst</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face25.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Daniel Russell</p><p _ngcontent-daf-c22="" class="u-designation">Tester</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face10.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Sarah Graves</p><p _ngcontent-daf-c22="" class="u-designation">Admin</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face23.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Sophia Lara</p><p _ngcontent-daf-c22="" class="u-designation">UI/UX</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face11.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Catherine Myers</p><p _ngcontent-daf-c22="" class="u-designation">Business Analyst</p></div> </a></li>
            <li _ngcontent-daf-c22="" class="profile-list-item"> <a _ngcontent-daf-c22="" href="javascript:void(0)"> <span _ngcontent-daf-c22="" class="pro-pic"><img _ngcontent-daf-c22="" alt="" src="assets/images/faces/face9.jpg"></span><div _ngcontent-daf-c22="" class="user"><p _ngcontent-daf-c22="" class="u-name">Tim</p><p _ngcontent-daf-c22="" class="u-designation">PHP Developer</p></div> </a></li>
          </ul>
        </div>
      </div> -->
      <div _ngcontent-daf-c22="" class="mail-list-container col-md-3 pt-4 pb-4 border-right bg-white">
        <div _ngcontent-daf-c22="" class="border-bottom pb-4 mb-3 px-3">
          <div _ngcontent-daf-c22="" class="form-group">
            <input _ngcontent-daf-c22="" class="form-control w-100" id="Mail-rearch" placeholder="Search mail" type="search">
          </div>
        </div>
        <div *ngFor="let c of listConvs">
         <div _ngcontent-daf-c22="" class="mail-list" >
          <!--<div _ngcontent-daf-c22="" class="form-check">
         <label _ngcontent-daf-c22="" class="form-check-label">
            <i _ngcontent-daf-c22="" class="input-helper"></i>
           </label></div> -->
           <li class="list-group-item">
            <img src="\assets\img\avatars\avatar-1.png" alt="" style="width: 25%;">
            <!-- [routerLink]="['/msgs', c.conversation_id]"
            routerLink="/msgs/{{c.conversation_id}}"  -->
            <a (click)="Afficher(c.conversation_id)" >  
            <div class="message" >
                 {{c.conversation_name}}
               </div>                </a>

               <div class="timeform">
 
                <!-- <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">at {{c.message_date | date : 'dd/MM/yyyy' }}</span> -->
               </div>
             </li>
          <!-- <div _ngcontent-daf-c22="" class="content">
            <p _ngcontent-daf-c22="" class="sender-name">{{c.conversation_id}}</p>
            <p _ngcontent-daf-c22="" class="message_text" >{{c.conversation_name}}</p> 
          </div> -->
          <!-- <div _ngcontent-daf-c22="" class="details">
            <i _ngcontent-daf-c22="" class="icon-star"></i>
          </div> -->
        </div>
      </div>
      <!-- [routerLink]="['/msgs', c.conversation_name]" -->
      </div>
      <div _ngcontent-daf-c22="" class="mail-view d-none d-md-block col-md-9 col-lg-7 bg-white">
     <app-msgs [idconv]="idconv"></app-msgs>
      </div>          
      </div>
    </div>
