<div class="row mb-1">

    <div class="col">
        <div class="input-group mb-3 box-shadow">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i
                        class="fa fa-search"></i></span>
            </div>
            <input type="text" [(ngModel)]="searchText" placeholder="Search Sinister by..."
                   class="form-control border-0">

            <button class="btn btn-info" (click)="open1(mymodal1)" type="button">
                Add sinsiter <span class="badge badge-pill badge-white text-info ml-1"><i
                    class="fa fa-warning"></i></span>
            </button>


        </div>
    </div>
</div>
<div class="col-13">
    <div class="table-responsive bg-white box-shadow">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>

                <th scope="col">Type</th>
                <th scope="col">Place</th>
                <th scope="col">Sinister Date</th>
                <th scope="col">Declaration Date</th>
                <th scope="col">Charge Sinister</th>
                <th scope="col">Indemnity Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of listSinisters | UserSearchPipe : searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                class="col-xl-4 col-lg-6 mb-4">


                <td>{{p.sinisterType}}</td>
                <td>{{p.sinisterPlace}}</td>
                <td>{{p.sinisterDate}}</td>
                <td>{{p.declarationDate}}</td>
                <td>{{p.chargeSinister}}</td>
                <td>{{p.sinisterIndemnity}}</td>
                <td>{{p.sinisterStatus}}</td>
                <!--<td class="align-middle">
                    <i *ngIf="!p.sinisterStatusEnum.RESOLVED" class="fa fa-square text-success" [ngClass]="{ 'text-success': p.sinisterStatusEnum.IN_PROCESS, 
                                                                                             'text-inverse': !p.sinisterStatus.IN_PROCESS}" placement="bottom" [ngbTooltip]="(p.sinisterStatus.IN_PROCESS) ? 'RESOLVED' : 'IN_PROCESS'"></i>
                    <i *ngIf="p.sinisterStatusEnum.RESOLVED" class="fa fa-square text-danger" placement="bottom" [ngbTooltip]="'RESOLVED'"></i>
                </td>-->


                <td class="align-middle">
                    <div class="btn-group" role="group">

                        <button class="btn btn-success btn-sm" (click)="initUpdate(p);open(mymodal)"><i class="fa fa-pencil"></i>
                        </button>
                        <ng-template #mymodal let-modal>
                            <div widget class="card border-0 box-shadow">
                                <div class="card-header transparent border-0 text-muted">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Edit your Sinister</h4>
                                        <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true" class="badge badge-pill badge-white text-danger ml-40"
                                      (click)="cancel()">
                                <i class="fa fa-window-close "></i></span>

                                        </button>

                                    </div>
                                    <div>
                                        <form (ngSubmit)="updateSinister()">
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="input-5">Sinister type</label>
                                                    <input type="text" class="form-control form-control-rounded"
                                                           [ngModelOptions]="{standalone: true}"
                                                           [(ngModel)]="sinister.sinisterType"
                                                           id="sinisterType">
                                                </div>
                                                <div>
                                                    <h6>Select Sinsiter place </h6>
                                                    <select _ngcontent-krx-c178="" id="exampleSelect1"
                                                            class="form-control ng-pristine ng-valid ng-touched">
                                                        <option _ngcontent-krx-c178="">tunis</option>
                                                        <option _ngcontent-krx-c178="">sfax</option>
                                                        <option _ngcontent-krx-c178="">ben arous</option>
                                                        <option _ngcontent-krx-c178="">sousse</option>
                                                        <option _ngcontent-krx-c178="">nabeul</option>
                                                        <option _ngcontent-krx-c178="">mannouba</option>
                                                        <option _ngcontent-krx-c178="">ariana</option>
                                                        <option _ngcontent-krx-c178="">bizerte</option>
                                                    </select>
                                                </div>
                                                
                                        


                                                <div class="form-group">
                                                    <label for="input-12">Sinister Date</label>
                                                    <input type="date" [(ngModel)]="sinister.sinisterDate"
                                                            class="form-control" [ngModelOptions]="{standalone: true}"
                                                           id="sinisterDate">
                                                </div>

                                                <div class="form-group">
                                                    <label for="input-12">Declaration Date</label>
                                                    <input type="date" [(ngModel)]="sinister.declarationDate"
                                                           class="form-control" [ngModelOptions]="{standalone: true}"
                                                           id="declarationDate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="input-7">Delai declaration </label>
                                                    <input type="email" class="form-control" id="input-7" disabled
                                                           value="it should not exceed 2 days">
                                                </div>
                                                <div>
                                                    <h6>affect Sinsiter to customer </h6>
                                                    <select _ngcontent-krx-c178="" id="exampleSelect1"
                                                            class="form-control ng-pristine ng-valid ng-touched">
                                                        <option _ngcontent-krx-c178="">tunis</option>
                                                        <option _ngcontent-krx-c178="">sfax</option>
                                                        <option _ngcontent-krx-c178="">Habitation</option>
                                                        <option _ngcontent-krx-c178="">ben arous</option>
                                                        <option _ngcontent-krx-c178="">sousse</option>
                                                        <option _ngcontent-krx-c178="">nabeul</option>
                                                        <option _ngcontent-krx-c178="">mannouba</option>
                                                        <option _ngcontent-krx-c178="">ariana</option>
                                                        <option _ngcontent-krx-c178="">bizerte</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="chargeSinister">Charge sinsiter</label>
                                                    <input type="text" class="form-control form-control-rounded"
                                                           [(ngModel)]="sinister.chargeSinister" [ngModelOptions]="{standalone: true}"
                                                           id="chargeSinister">
                                                </div>

                                            </div>

                                            <div class="modal-footer">

                                                <button type="submit" class="btn btn-success" (click)="modal.close('Save click')">Validate</button>
                                                <button class="btn btn-warning">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>


                        <button class="btn btn-danger btn-sm" (click)="deleteSinister(p.idSinister)  "><i
                                class="fa fa-trash"></i></button>
                        <button class="btn btn-primary" type="button">
                            Treat Sinister <span class="badge badge-pill badge-white text-primary ml-1"><i class="fa fa-hourglass
                                "></i></span>

                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div widget class="card border-0 box-shadow">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="3"></pagination-controls>
        </div>
    </div>
</div>
<br>
<div class="col-14">
    <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0">Help Center</h5>

        </div>
        <div class="card-body widget-body">
            <div class="media">
                <img class="d-flex align-self-center mr-3" src="assets/img/profile/bruno.jpg" width="90"
                     alt="Generic placeholder image">
                <div class="media-body">
                    <h4 class="mt-0">Bedis Trigui</h4>
                    For (technical) emergency issues you may of course reach us at : emergency@luxsms.lu <br>
                    Or over the phone at (+216) 44130018.<br>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ajout

<div class="row ">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h2 class="mb-0">Sinister mangment</h2>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body"> 
                <p class="text-left fs-13 text-gray">Please fill out the form below,we kindly ask you to send us the requested information.</p>
               
                <form>
                    <div class="form-group">
                        <label for="input-5">Sinister type</label>
                        <input type="text" class="form-control form-control-rounded" id="input-5">
                    </div>
                   
                    <div>   
                        <h6>Select Sinsiter place </h6>
                        <ss-multiselect-dropdown class="custom-multiselect" [options]="thirdControlOptions" [texts]="thirdControlTexts" [settings]="thirdControlSettings" [(ngModel)]="thirdControlModel"></ss-multiselect-dropdown>
                    </div> 
                    <div class="form-group">
                        <label for="input-6">With help text</label>
                        <input type="text" class="form-control" id="input-6">
                        <small class="text-muted">A block of help text that breaks onto a new line and may extend beyond one line.</small>
                    </div>
                    <div class="form-group">
                        <label for="input-7">Delai declaration </label>
                        <input type="email" class="form-control" id="input-7" disabled value="it should not exceed 2 days">
                    </div>                    
                    <div class="form-group">
                        <label for="textarea-1">Sinister's Description</label>
                        <textarea class="form-control" id="textarea-1"></textarea>
                    </div>
                    
                   
                    <div class="form-group">
                        <label for="input-12">Declaration Date</label>
                        <input type="date" class="form-control" value="2011-08-19" id="input-12">
                    </div>
                    <div class="form-group">
                        <label for="input-12">Sinister Date</label>
                        <input type="date" class="form-control" value="2011-08-19" id="input-12">
                    </div>
                    <div class="form-group">
                        <label for="input-13">Month</label>
                        <input type="month" class="form-control" value="2011-08" id="input-13">
                    </div>
                    <div class="form-group">
                        <label for="input-14">Week</label>
                        <input type="week" class="form-control" value="2011-W33" id="input-14">
                    </div>
                    
                    <div class="form-group">
                        <button (click)="addSinister(sinister)" class="btn btn-info w-100p mb-1 mr-1" type="button"  >Accept</button>
                    </div> 
                    
                </form>
            </div>
        </div>
    </div>    -->


<!--formulaire d'ajout-->

<div class="row">
    <div class="col-md-12">
        <div class="card card-info border-0 box-shadow">

        </div>

        <ng-template #mymodal1 let-modal1>
            <div widget class="card border-0 box-shadow">
                <div class="card-header transparent border-0 text-muted">

                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title1">Add your Sinister</h4>
                        <br>
                        <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                        <span aria-hidden="true" class="badge badge-pill badge-white text-danger ml-40"
                              (click)="cancel()"><i class="fa fa-window-close"></i></span>
                        </button>

                    </div>
                    <div class="center">
                        <form>
                            <div class="form-group">
                                <label for="sinisterType">Sinister type</label>
                                <input type="text" class="form-control form-control-rounded"
                                       [(ngModel)]="sinister.sinisterType"
                                       id="sinisterType" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div>
                                <h6>Select Sinsiter place </h6>
                                <select _ngcontent-krx-c178="" id="exampleSelect1"
                                        class="form-control ng-pristine ng-valid ng-touched">

                                    <option _ngcontent-krx-c178="">tunis</option>
                                    <option _ngcontent-krx-c178="">sfax</option>
                                    <option _ngcontent-krx-c178="">ben arous</option>
                                    <option _ngcontent-krx-c178="">sousse</option>
                                    <option _ngcontent-krx-c178="">nabeul</option>
                                    <option _ngcontent-krx-c178="">mannouba</option>
                                    <option _ngcontent-krx-c178="">ariana</option>
                                    <option _ngcontent-krx-c178="">bizerte</option>
                                </select>
                            </div>
                            


                            <div class="form-group">
                                <label for="input-12">Sinister Date</label>
                                <input type="date" [(ngModel)]="sinister.sinisterDate" class="form-control"
                                       id="sinisterDate" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="input-12">Declaration Date</label>
                                <input type="date" [(ngModel)]="sinister.declarationDate" class="form-control"
                                       id="declarationDate" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="input-7">Delai declaration </label>
                                <input type="email" class="form-control" id="input-7" disabled
                                       value="it should not exceed 2 days">
                            </div>
                            <div>
                                <h6>affect Sinsiter to customer </h6>
                                <select _ngcontent-krx-c178="" id="exampleSelect1" 
                                        class="form-control ng-pristine ng-valid ng-touched">
                                    <option _ngcontent-krx-c178="">tunis</option>
                                    <option _ngcontent-krx-c178="">sfax</option>
                                    <option _ngcontent-krx-c178="">Habitation</option>
                                    <option _ngcontent-krx-c178="">ben arous</option>
                                    <option _ngcontent-krx-c178="">sousse</option>
                                    <option _ngcontent-krx-c178="">nabeul</option>
                                    <option _ngcontent-krx-c178="">mannouba</option>
                                    <option _ngcontent-krx-c178="">ariana</option>
                                    <option _ngcontent-krx-c178="">bizerte</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input-5">Charge sinsiter</label>
                                <input type="number" class="form-control form-control-rounded"
                                       [(ngModel)]="sinister.chargeSinister"
                                       id="chargeSinister" [ngModelOptions]="{standalone: true}">
                            </div>
                            <br>
                            <button type="button" class="btn btn-info w-100p mb-1 mr-1" (click)="addSinister(sinister)"
                                    (click)="modal1.close('Save click')"><i class="fa fa-thumbs-up"></i>
                                Add
                            </button>

                            <button type="button" class="btn btn-danger w-100p mb-1 mr-1"
                                    (click)="modal1.close('Save click')"><i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </ng-template>


        <!--<div class="card card-info border-0 box-shadow">
            <div class="card-header text-white text-center">
                <h4>Add your sinister:</h4>
            </div>
            </div>

        <div class="row ">
            <div class="col-12">
                <div widget class="card border-0 box-shadow">
                    <div class="card-header transparent border-0 text-muted">
                        <h2 class="mb-0">Sinister mangment</h2>
                        <div class="widget-controls">
                            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="card-body pt-0 widget-body">
                        <p class="text-left fs-13 text-gray">Please fill out the form below,we kindly ask you to send us the requested information.</p>

                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="input-5">Sinister type</label>
                                <input type="text"    class="form-control form-control-rounded"    [(ngModel)]="sinister.sinisterType"
                                  id="sinisterType"  [ngModelOptions]="{standalone : true}">
                            </div>

                            <div>
                                <h6>Select Sinsiter place </h6>
                                <select _ngcontent-krx-c178="" id="exampleSelect1" class="form-control ng-pristine ng-valid ng-touched">
                                    <option _ngcontent-krx-c178="">tunis</option>
                                    <option _ngcontent-krx-c178="">sfax</option><option _ngcontent-krx-c178="">Habitation</option>
                                    <option _ngcontent-krx-c178="">ben arous</option>
                                    <option _ngcontent-krx-c178="">sousse</option>
                                    <option _ngcontent-krx-c178="">nabeul</option>
                                    <option _ngcontent-krx-c178="">mannouba</option>
                                    <option _ngcontent-krx-c178="">ariana</option>
                                    <option _ngcontent-krx-c178="">bizerte</option></select>
                            </div>
                           <br>
                            <div class="form-group">
                                <label for="input-7">Delai declaration </label>
                                <input type="email"   class="form-control" id="input-7" disabled
                                value="it should not exceed 2 days"  >
                            </div>
                            <div class="form-group">
                                <label for="textarea-1">Sinister's Description</label>
                                <textarea class="form-control"   id="sinisterDescription"  ></textarea>
                            </div>
                            <div>
                                <h6>affect Sinsiter to customer </h6>
                                <select _ngcontent-krx-c178="" id="exampleSelect1" class="form-control ng-pristine ng-valid ng-touched">
                                    <option _ngcontent-krx-c178="">tunis</option>
                                    <option _ngcontent-krx-c178="">sfax</option><option _ngcontent-krx-c178="">Habitation</option>
                                    <option _ngcontent-krx-c178="">ben arous</option>
                                    <option _ngcontent-krx-c178="">sousse</option>
                                    <option _ngcontent-krx-c178="">nabeul</option>
                                    <option _ngcontent-krx-c178="">mannouba</option>
                                    <option _ngcontent-krx-c178="">ariana</option>
                                    <option _ngcontent-krx-c178="">bizerte</option></select>
                            </div>


                            <div class="form-group">
                                <label for="input-12">Declaration Date</label>
                                <input type="date"  [(ngModel)]="sinister.declarationDate"   class="form-control"  id="declarationDate"  [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="form-group">
                                <label for="input-12">Sinister Date</label>
                                <input type="date"   [(ngModel)]="sinister.sinisterDate"  class="form-control"  id="sinisterDate"  [ngModelOptions]="{standalone : true}">
                            </div>
                           <!-- <div class="form-group">
                                <label for="input-13">Month</label>
                                <input type="month" [(ngModel)]="Sinister.sinisterDate"  class="form-control" value="2011-08" id="input-13">
                            </div>
                            <div class="form-group">
                                <label for="input-14">Week</label>
                                <input type="week" [(ngModel)]="Sinister.sinisterDate"  class="form-control" value="2011-W33" id="input-14">
                            </div>-->

        <!--<div class="form-group">
            <button (click)="addSinister(sinister)" class="btn btn-info w-100p mb-1 mr-1" type="button"  >
                <span class="badge badge-pill badge-white text-primary ml-1">
                    <i class="fa fa-handshake-o"></i></span> Accept </button>
                    <button class="btn btn-success" type="submit">Submit</button>


        <button class="btn btn-danger w-100p mb-1 mr-1" type="button" [routerLink]="['/list-sinister']">
            <span class="badge badge-pill badge-white text-danger ml-1">
                <i class="fa fa-mail-reply"></i></span> Back </button>
            </div >
    </form>
</div>
</div>
</div> -->








  
    





 





   
