
<div style="text-align: center;">
<div class="row" style="margin-left: 10%; margin-right: 10%;">
<div _ngcontent-axt-c6="" class="card-body">
    <div _ngcontent-axt-c6="" class="d-sm-flex align-items-center mb-4">
        <h4 _ngcontent-axt-c6="" class="card-title mb-sm-0">Claims </h4>
        <a _ngcontent-axt-c6="" class="text-dark ml-auto mb-3 mb-sm-0" href="#"> View all Claims</a>
    </div>
    <div _ngcontent-axt-c6="" class="table-responsive border rounded p-1">
        <table _ngcontent-axt-c6="" class="table">
            <thead _ngcontent-axt-c6="">
                <tr _ngcontent-axt-c6="" style="background-color: antiquewhite;">

                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_id</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_description</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_state</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_type</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_contrat_type</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_visibility</th>
                    <th _ngcontent-axt-c6="" class="font-weight-bold">claim_date</th>
                </tr>
            </thead>
            <tbody _ngcontent-axt-c6="">
                <tr _ngcontent-axt-c6="" *ngFor='let p of listClaims'>
                    <td>{{p.claim_id}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_description}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_state}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_type}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_contrat_type}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_visibility}}</td>
                                    <td _ngcontent-axt-c6="">{{p.claim_date}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
</div>